models/*
datasets/*
loras/*
__pycache__/
*.pyc
.env
.env.*
!.env.example

!models/.gitkeep
!datasets/.gitkeep
!datasets/raw/
!datasets/raw/.gitkeep
!datasets/stereo/
!datasets/stereo/.gitkeep
!datasets/tts/
!datasets/tts/.gitkeep
!datasets/cache/
!datasets/cache/.gitkeep
!loras/.gitkeep
